body {
  background-color: #e6eff6;
  box-sizing: border-box;
  display: grid;
  font-family: "Karla", sans-serif;
  height: 100vh;
  place-items: center;
}

.card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  width: 625px;
}

.top-section {
  padding: 40px 30px;
}

h1 {
  color: rgb(42, 178, 175);
  font-size: 1.4rem;
  font-weight: 700;
}

h2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.top-section h2 {
  color: rgb(192, 223, 52);
  margin-top: 30px;
}

.top-section p {
  color: rgb(152, 166, 189);
  margin-bottom: 10px;
}

.bottom-section {
  display: flex;
}

.sign-up,
.why-us {
  color: rgb(229, 239, 245);
  padding: 40px 30px;
  width: 50%;
}

.sign-up {
  background-color: #2bb3b1;
  border-radius: 0 0 0 5px;
}

.sign-up p {
  margin-bottom: 10px;
}

.cost {
  font-size: 2rem;
  font-weight: 700;
  margin-right: 10px;
}

.per-month {
  color: rgba(229, 239, 245, 0.5);
}

.sign-up-btn {
  background-color: rgb(192, 223, 52);
  border-radius: 5px;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.1);
  color: rgb(229, 239, 245);
  display: inline-block;
  font-weight: 700;
  margin-top: 20px;
  padding: 15px 90px;
  text-decoration: none;
}

.why-us {
  background-color: #4abebd;
  border-radius: 0 0 5px 0;
}

li {
  color: rgba(229, 239, 245, 0.75);
  font-size: 0.9rem;
  margin-bottom: 7px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
